In [16]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [17]:
cdtx_y = pd.read_csv('/Users/shuyuhsu/code/data_mining/final_training_data/processed_data/cdtx_y.csv')

In [18]:
x = cdtx_y.iloc[:,[1,2,3,4,5,7,8,9,10]]
y = cdtx_y.iloc[:, 6]
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.7,random_state=0)

In [19]:
cdtx_y

,cust_id,date,country,cur_type,amt,alert_key,sar_flag,risk_rank,occupation_code,total_asset,AGE
0,01c705b457297805c1c08137cb3adb164b8f393c265db2...,11,130,47,1223.0,175830,0,3,19.0,1266839.0,4
1,01c705b457297805c1c08137cb3adb164b8f393c265db2...,13,130,47,1427.0,178496,0,3,19.0,1266839.0,4
2,01c705b457297805c1c08137cb3adb164b8f393c265db2...,41,130,47,4165.0,191277,0,3,19.0,1528585.0,4
3,01c705b457297805c1c08137cb3adb164b8f393c265db2...,41,130,47,9997.0,191277,0,3,19.0,1528585.0,4
4,01c705b457297805c1c08137cb3adb164b8f393c265db2...,43,130,47,1427.0,192466,0,3,19.0,1528585.0,4
...,...,...,...,...,...,...,...,...,...,...,...
20070,ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973c...,70,130,47,331.0,203129,0,1,17.0,9705.0,5
20071,ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973c...,70,130,47,1429.0,203129,0,1,17.0,9705.0,5
20072,ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973c...,70,130,47,14987.0,203129,0,1,17.0,9705.0,5
20073,ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973c...,70,130,47,522.0,203129,0,1,17.0,9705.0,5
20074,ffdd3f98b841d4d0ef58ad0d63abddac83ffb5babf973c...,70,130,47,16428.0,203129,0,1,17.0,9705.0,5

In [20]:
# sns.heatmap(ccba_y.corr())

In [21]:
# ccba_y_cor = ccba_y.corr()
# cor_target = abs(ccba_y_cor["sar_flag"])

# # 選擇高度相關的特徵（閾值 = 0.2）
# relevant_features = cor_target[cor_target>0.1]
# print(relevant_features)
# # 選擇特徵名稱
# names = [index for index, value in relevant_features.iteritems()]

# # 刪除目標特徵
# names.remove('sar_flag')

# print(names)

In [22]:
# from sklearn.feature_selection import SelectKBest,RFE
# features=SelectKBest(k=5).fit_transform(x,y)
# features

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import RFE
x_train_rfe = x_train.iloc[:, [0,1,2,3,5,6,7,8]]

def rfe_selection( X , Y, k=5):

    # Split train and test sets
    X_train, X_test, Y_train, Y_test = train_test_split(
        X, 
        Y, 
        test_size = 0.2, 
        stratify=Y, 
        random_state = 0)

    scaler = StandardScaler().fit(X_train)
    X_train_scaled = scaler.transform(X_train)
    X_test_scaled = scaler.transform(X_test)
    

    model = RandomForestClassifier(
        criterion='entropy', 
        random_state=0
        )
    rfe = RFE(model, n_features_to_select=k)
    rfe = rfe.fit(X_train, Y_train)

    feature_names = X.columns[rfe.get_support()]

    return feature_names

rfe_selection(x_train_rfe,y_train)

Index(['date', 'country', 'amt', 'occupation_code', 'total_asset'], dtype='object')

In [24]:
x_train_new = x_train.iloc[:,[0,1,3,6,7]]
x_test_new = x_test.iloc[:, [0,1,3,6,7]]

In [25]:
from sklearn.ensemble import RandomForestRegressor
regressor_cdtx = RandomForestRegressor(n_estimators=100, criterion='mse', random_state= 0)
regressor_cdtx.fit(x_train_new, y_train)

/Users/shuyuhsu/Library/Python/3.9/lib/python/site-packages/sklearn/ensemble/_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

RandomForestRegressor(criterion='mse', random_state=0)

In [26]:
cdtx_pred = regressor_cdtx.predict(x_test_new)
cdtx_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [27]:
cdtx_y_ans = pd.DataFrame(cdtx_pred)

In [28]:
cdtx_y_ans

        0
0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
...   ...
6018  0.0
6019  0.0
6020  0.0
6021  0.0
6022  0.0

[6023 rows x 1 columns]

In [37]:
cdtx_ans = pd.DataFrame(x_test['alert_key'])
cdtx_ans.reindex(index=range(0,len(cdtx_y_ans)))
# cdtx_ans['probability'] = cdtx_y_ans[0]
cdtx_ans

       alert_key
4942      267917
8911      261397
14708     209857
9715      298599
15273     268223
...          ...
11215     299235
5091      292880
6593      289033
11886     287795
1504      183261

[6023 rows x 1 columns]

In [30]:
cdtx_ans.isna()

       alert_key  probability
4942       False        False
8911       False         True
14708      False         True
9715       False         True
15273      False         True
...          ...          ...
11215      False         True
5091       False        False
6593       False         True
11886      False         True
1504       False        False

[6023 rows x 2 columns]